{{ if ne .Page.Params.show_featured_footer false }}
  <div class="featured-footer featured-alternate" id="featured-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-24">
        </div>
      </div>
    </div>
  </div>
  <script>
    var rawStoryJSON = {{ .Site.Data.featuredstory.items | jsonify }};
    var sort = {{ .Site.Data.featuredstory.sort }};
    var json = JSON.parse(rawStoryJSON);
    if (json == null) {
    	return;
    }
    // remove expired items
    json = json.filter(a => new Date(a['endDate']) > new Date())
      .filter(a => a['type'] === "both" || a['type'] === "footer" );
    
    // shuffle the array so that a random available story is featured
    if (json.length > 1) {
      shuffleArray(json);
    }
    
    // make sure we have a promotion to display
    if (json.length > 0) {
      var item = json[0];
      var storyEl = document.querySelector("#featured-footer");
      // if a banner img exists, set it
      if (item['bgImgSrc'] !== undefined && item['bgImgSrc'] !== "") {
        storyEl.style.backgroundImage = 'url(\'' + item['bgImgSrc'] + '\')';
        storyEl.style.backgroundSize = 'cover';
      }
  
      // override featured-footer classes
      if (item['footer_classes'] !== undefined && item['footer_classes'] !== "") {
        storyEl.className = item['footer_classes'];
      }
      
      // set the title and link
      var headingEl = document.createElement('h2');
      headingEl.innerHTML =  item['title'];
      
      var linkEl = document.createElement('span');
      linkEl.innerHTML =  item['link'];
  
      // if they exist, create and set the preamble + content
      var preambleEl, contentEl = null;
      if (item['preamble'] != undefined && item['premble'] != "") {
        preambleEl = document.createElement('p');
        preambleEl.innerHTML =  item['preamble'];
      }
      if (item['content'] != undefined && item['content'] != "") {
        contentEl = document.createElement('p');
        contentEl.innerHTML =  item['content'];
      }
      // get the content container and append the content
      var divEl = storyEl.querySelector(".row > div");
      if (preambleEl != undefined) {
        divEl.appendChild(preambleEl);
      }
      divEl.appendChild(headingEl);
      if (contentEl != undefined) {
        divEl.appendChild(contentEl);
      }
      divEl.appendChild(linkEl);
    }
    /**
     * Randomize array element order in-place.
     * Using Durstenfeld shuffle algorithm.
     * source: https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
     */
    function shuffleArray(array) {
        for (var i = array.length - 1; i > 0; i--) {
            var j = Math.floor(Math.random() * (i + 1));
            var temp = array[i];
            array[i] = array[j];
            array[j] = temp;
        }
    }
  </script>
{{ end }}