{{ if ne .Page.Params.show_featured_footer false }}
  <div class="featured-footer featured-alternate" id="featured-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-24">
        </div>
      </div>
    </div>
  </div>
  <script>
    var rawStoryJSON = {{.Site.Data.featuredstory.items | jsonify}};
    if (footerJson = JSON.parse(rawStoryJSON)) {

      // remove expired items
      footerJson = footerJson.filter(function(a, idx) { 
    	    return new Date(a['endDate']) > new Date() && (a['startDate'] == undefined || new Date(a['startDate']) < new Date());
    	  })
        .filter(function(a, idx) { 
            return  a['type'] === "both" || a['type'] === "footer";
        });

      // shuffle the array so that a random available story is featured
      if (footerJson.length > 1) {
        shuffleArray(footerJson);
      }

      // make sure we have a promotion to display
      if (footerJson.length > 0) {
        var footerItem = footerJson[0];
        var footerStoryEl = document.querySelector("#featured-footer");
        // if a banner img exists, set it
        if (footerItem['bgImgSrc'] !== undefined && footerItem['bgImgSrc'] !== "") {
        	footerStoryEl.style.backgroundImage = 'url(\'' + footerItem['bgImgSrc'] + '\')';
          footerStoryEl.style.backgroundSize = 'cover';
        }

        // override featured-footer classes
        if (footerItem['footer_classes'] !== undefined && footerItem['footer_classes'] !== "") {
          footerStoryEl.className = footerItem['footer_classes'];
        }

        // set the title and link
        var footerHeadingEl = document.createElement('h2');
        footerHeadingEl.innerHTML = footerItem['title'];
        if (footerItem['header_class']) {
          var headerClasses = footerItem['header_class'].split(' ');
          for (var headerClassIdx in headerClasses) {
        	  footerHeadingEl.classList.add(headerClasses[headerClassIdx]);
          }
        }

        var footerLinkEl = document.createElement('span');
        footerLinkEl.innerHTML = footerItem['link'];

        // if they exist, create and set the preamble + content
        var footerPreambleEl, footerContentEl, footerPostContentEl = null;
        if (footerItem['preamble']) {
          footerPreambleEl = document.createElement('p');
          footerPreambleEl.innerHTML = footerItem['preamble'];
          if (footerItem['preamble_class']) {
            var preambleClasses = footerItem['preamble_class'].split(' ');
            for (var preambleClassIdx in preambleClasses) {
              footerPreambleEl.classList.add(preambleClasses[preambleClassIdx]);
            }
          }
        }
        if (footerItem['content']) {
        	footerContentEl = document.createElement('p');
        	footerContentEl.innerHTML = footerItem['content'];
          if (footerItem['content_class']) {
            var contentClasses = footerItem['content_class'].split(' ');
            for (var contentClassIdx in contentClasses) {
            	footerContentEl.classList.add(contentClasses[contentClassIdx]);
            }
          }
        }
        if (footerItem['post_content']) {
        	footerPostContentEl = document.createElement('p');
        	footerPostContentEl.innerHTML = footerItem['post_content'];
          if (footerItem['post_class']) {
            var postClasses = footerItem['post_class'].split(' ');
            for (var postClassIdx in postClasses) {
            	footerPostContentEl.classList.add(postClasses[postClassIdx]);
            }
          }
        }
        // get the content container and append the content
        var footerDivEl = footerStoryEl.querySelector(".row > div");
        if (footerPreambleEl != undefined) {
        	footerDivEl.appendChild(footerPreambleEl);
        }
        footerDivEl.appendChild(footerHeadingEl);
        if (footerContentEl != undefined) {
        	footerDivEl.appendChild(footerContentEl);
        }
        if (footerPostContentEl != undefined) {
        	footerDivEl.appendChild(footerPostContentEl);
        }
        footerDivEl.appendChild(footerLinkEl);
      }
    }
    /**
     * Randomize array element order in-place.
     * Using Durstenfeld shuffle algorithm.
     * source: https://stackoverflow.com/questions/2450954/how-to-randomize-shuffle-a-javascript-array
     */
    function shuffleArray(array) {
      for (var i = array.length - 1; i > 0; i--) {
        var j = Math.floor(Math.random() * (i + 1));
        var temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
    }
  </script>
{{ end }}