<section class="{{- .Params.footer_section_legal_class | default .Site.Params.footer_section_legal_class | default "col-sm-6 hidden-print"}}" id="footer-legal">
  <h2 class="section-title">{{ i18n "footer-legal-section-text" }}</h2>
  <ul class="nav">
    <li><a href="https://www.eclipse.org/legal/privacy.php">{{ i18n "footer-legal-privacy-policy-text" }}</a></li>
    <li><a href="https://www.eclipse.org/legal/termsofuse.php">{{ i18n "footer-legal-terms-use-text" }}</a></li>
    <li><a href="https://www.eclipse.org/legal/copyright.php">{{ i18n "footer-legal-copyright-agent-text" }}</a></li>
    <li><a href="https://www.eclipse.org/legal/epl-2.0/">{{ i18n "footer-legal-epl-text" }}</a></li>
    <li><a href="https://www.eclipse.org/legal/">{{ i18n "footer-legal-resources-text" }} </a></li>
  </ul>
</section>